 <div id="create_table_{{ i }}" class="create_table" style="{% if i != 1 %}display: none;{% endif %}">
    <table>
    <tr>
        <td class="lef">РЕСУРС</td>
        <td >

            <select class="kol_v" size="1" name="resource_{{ i }}">

            <option disabled>Выберите ресурс</option>

            {% for res in resurs %}
            <option value="{{ res.pk }}">{{ res.name }}</option>
            {% endfor %}

            </select>
        </td>
    </tr>
    <tr>
        <td class="lef">КІЛЬКІСТЬ</td>
        <td class="ri"><input class="kol" type="text" id="amount_{{ i }}" name="amount_{{ i }}"></td>
    </tr>
    <tr>
        <td class="lef">ДАТА ДОСТАВКИ</td>
        <td class="ri"><input class="kol" type="date" name="data_{{ i }}"></td>
    </tr>
       <tr>
        <td class="lef">ПРИОРІТЕТ</td>
        <td class="ri"><input class="kol" type="text" name="priority_{{ i }}"></td>
    </tr>
    <tr>
        <td>
            <a class="addmore" id="a_{{ i }}" href="#" onclick="return addMore({{ i }});"></a>
             <a class="delmore" id="del_a_{{ i }}" style="{% if i == 1 %}display: none;{% endif %}" id="a_{{ i }}" href="#" onclick="return deleteItem({{ i }});"></a>
               </td>
    </tr>
    </table>
</div>
