/*******************************************************************************************************************
*  LINKS                                                                                                           
*******************************************************************************************************************/


/*******************************************************************************************************************
*  HEADER                                                                                                          
*******************************************************************************************************************/
#intro{background:#2b2b2b url("img/black/intro-repeat.png") repeat-x; border-top:1px solid #5f5f5f;}
#intro .inner{background:url("img/black/intro-middle.png") no-repeat 50% 0;}
#intro .button{box-shadow:0 2px 2px #2d2d2d;}