{% extends 'base.html' %}

{% block title %}
    Back to: <a href="{% url 'list_volonters' %}">list</a>
    {% endblock %}

{% block content %}
    <form method="POST" action="{% url 'create_volonter' %}">
        {% csrf_token %}
        <li>FIO: <input type="text" name="fio">
        <li>адрес:<input type="text" name="address">
        <li>тел:<input type="text" name="telephone">
        <li>пол:<input type="text" name="gender">
        <input type="submit" value="Save!">
    </form>
{% endblock %}
