{% extends 'base.html' %}

{% block title %}
    <h3>Список направлений</h3>
{% endblock %}

{% block content %}
    {% for direction in directions %}
        <li><a href="{% url 'view_directions' direction.id %}">
                {{ direction.name }}
            </a>
            (<a href="{% url 'update_directions' direction.id %}">
                edit
            </a>)
        </li>
    {% endfor %}
    </ol>
    <a href="{% url 'create_direction' %}">
        Add new direction
    </a>
{% endblock %}
