/*******************************************************************************************************************
*  LINKS
    a, a:link, a:focus{color:#2aacd2;}
*******************************************************************************************************************/


/*******************************************************************************************************************
*  HEADER                                                                                                          
*******************************************************************************************************************/
#intro{background:#229dc9 url("img/azure/intro-repeat.png") repeat-x; border-top:1px solid #3fd9ea;}
#intro .inner{background:url("img/azure/intro-middle.png") no-repeat 50% 0;}
#intro .button{box-shadow:0 2px 2px #2596b7;}