{% extends 'base.html' %}

{% block title %}
    <h3 class="title_list">График волонтёров</h3>
{% endblock %}

{% block content %}
    <div id="grafik">
    <div class="demo-container">
			<div id="placeholder" class="demo-placeholder" style="float:left; width:675px;"></div>
			<p id="choices" style="float:right; width:135px;"></p>
    </div>
    </div>
 {% comment %}   <div id="list_table">
  <table border="1">
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>ADRES</td>
        <td>NUMBER</td>
    </tr>

    {% for volonters in Volonter %}
        <tr class="list_tr">
        <td>{{ volonters.id }}</td>
        <td> <a class="detail_list" href="{% url 'view_volonter' volonters.id %}">{{ volonters.fio }}</a></td>
        <td>{{ volonters.address }}</td>
        <td>{{ volonters.telephone }}</td>
    </tr>

    {% endfor %}
  </table>
    </div>{% endcomment %}
{% endblock %}
{% block bottom %}
    Back to: <a href="{% url 'list_volonters' %}">list</a><br>
    Go to: <a href="{% url 'grafic_volonter' %}">grafik</a>
{% endblock %}
