{% extends 'base.html' %}


{% block title %}

    <h3 class="title_list">ВХІД</h3>

{% endblock %}


{% block content %}

    <div id="create_table">


        <form id="slick-login"class="zforma" method="POST" action="{% url 'login' %}">

            {% csrf_token %}

            <div class="logBlock">

                <p class="nameofuser">Імя користувача</p>

                <span class="f_username" ><input STYLE="border-radius: 8px;" type="text" name="username"></span>

                <p class="passofuser">Пароль</p>

                <span class="f_password"><input STYLE="border-radius: 8px;" type="password" name="password"></span>

                <span class="f_but"><input class="bt_on_login" STYLE="border-radius: 8px; WIDTH:200PX; POSITION:ABSOLUTE; LEFT:-85PX;" type="submit" name="Save" value="LogIn"></span>

            </div>

       </form>

   </div>

{% endblock %}
