{% extends 'base.html' %}

{% block title %}
    <h3>Список волонтёров</h3>
{% endblock %}

{% block content %}
    {% for volonter in volonters %}
{#        <a href="/volonter/{{ volonter.id }}/"> #}
        <li><a href="{% url 'view_volonter' volonter.id %}">
                {{ volonter.fio }}
            </a>
            (<a href="{% url 'update_volonter' volonter.id %}">
                edit
            </a>)
        </li>
    {% endfor %}
    </ol>
    <a href="{% url 'create_volonter' %}">
        Add new volonter
    </a>
{% endblock %}
