{% extends 'base.html' %}

{% block title %}
    <h3 class="title_list">Зв'язок з адміністрацією / <a href="{% url 'home' %}">Головна</a></h3>
{% endblock %}

{% block content %}
    <br>
    <div class="about">
    <p class="info" >Щоб мати можливість попросити допомогу, вам необхідно отримати логін і пароль, для цього зв'яжіться з адміністрацією</p>

   <p class="info_v">Контактна особа: Максим Сергійович</p>

    <p class="info_v">Контактний телефон: +380999200683</p>

    <p class="info_v">Електронна адреса: nechitaylom@mail.ua</p>

            </div>
{% endblock %}
