{% extends 'base.html' %}

{% block title %}
     <h3 class="title_list">Прокласти маршрут</h3>
{% endblock %}

{% block content %}
    <div class="create_table">
        <form class="zforma" method="POST" action="{% url 'create_roat' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td class="CreateVoll">Склад</td>
                    <td class="CreateVolr">
                        <select size="1" class="pole_select" name="store_house">
                            <option disabled>Склад</option>
                            {% for store_house in store_houses %}
                                <option value="{{ store_house.pk }}">{{ store_house.geography_point }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="CreateVoll">Споживач</td>
                    <td class="CreateVolr">
                        <select size="1" class="pole_select" name="point_of_consuming">
                            <option disabled>Споживач</option>
                                {% for point_of_consuming in point_of_consumings %}
                                    <option value="{{ point_of_consuming.pk }}">{{ point_of_consuming.geography_point }}</option>
                                {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="CreateVoll">Тип маршруту</td>
                    <td class="CreateVolr">
                        <select size="1" class="pole_select" name="type">
                            <option disabled>Тип маршруту</option>
                            <option value="1">Найшвидший</option>
                            <option value="2">Найбезпечніший</option>
                            <option value="3">Найдешевший</option>
                        </select>
                    </td>
                </tr>
                <tr class="CreateVoll">
                    <td colspan="2"><input class="bt"type="submit" name="Save" value="Ok"></td>
                </tr>
            </table>
        </form>
   </div>
    <br>

    <br><br><br><br><br>     <br>

    <br><br><br><br><br>     <br>

    <br><br>

    <br>

{% endblock %}
