{% load staticfiles %}
<!DOCTYPE html>
<html >
<head>
<title>Continents AIO</title>
<meta http-equiv="Content-Type" content="text/html; charrset=windows-1251">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'examples.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'print.css' %}" media="print"/>
    <script language="javascript" type="text/javascript" src="{% static 'jquery.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'jquery.flot.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'jquery.flot.pie.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'jquery.flot.categories.js' %}"></script>
<script src="{% static 'custom.js' %}"></script>
<!--[if lt IE 9]>
<script src="js/css3-mediaqueries.min.js"></script>
<script src="js/html5.js"></script>
<script src="js/IE9.js"></script>
<![endif]-->
  </head>
<body>
<header class="clearFix">
  <div class="wrap"> <a id="logo" href="#">HelpATO.UA</a>
    <hr>
    <nav>
      <div id="nav"> <strong>Navigation</strong>
        <ul>
          <li class="active"> <a href="#">Главная</a> </li>
          <li> <a href="#">Transport</a> </li>
          <li class="parent"> <a href="#">Отчёты</a>
            <ul>
              <li> <a href="{% url 'list_volonter' %}">Волонтёры</a> </li>
              <li> <a href="{% url 'list_StoreHouse' %}">Склады</a> </li>
              <li> <a href="{% url 'list_resource' %}">Ресурсы</a> </li>
              <li> <a href="#">Заказы</a> </li>
            </ul>
          </li>
          <li> <a href="#">MAP</a> </li>
          <li> <a href="/admin">ADMIN</a> </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<hr>
<div id="intro">
  <div class="inner">
    <div class="wrap clearFix">
      <h1>Хочешь стать волонтёром? <strong>Зарегистрируйся!</strong></h1>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
      <a href="{% url 'create_volonter' %}" class="button">Стать волонтёром!</a>
      <a href="https://docs.google.com/spreadsheets/d/1kkL6Gd3DPs0UZxhqt8xnQtJRTeXEjOQ5ZgN6E9_rQ_Q/edit#gid=0" target="_blank" class="button">Необходимо</a>
      <a href="#" class="button">Попросить помощь!</a>
  </div>
  </div>
</div>
<!-- / #intro -->
<hr>
<div id="content">
  <div class="bl_title">{% block title %}{% endblock %}</div>
  <div class="bl_content">{% block content %}{% endblock %}</div>
  <div class="bl_bottom">{% block bottom %}{% endblock %}</div>
</div>
<!-- / #content -->
<hr class="noPrint">
<div id="twitter">
  <div class="wrap clearFix"> <span class="icon"></span>
    <p>Подписывайтесь на нас в <a href="#">Твиттер</a> и <a href="#">Вконтакте</a></p>
  </div>
</div>
<hr>
<footer class="clearFix">
  <div class="wrap clearFix">
    <p class="floatRight"> Copyright &copy; 2015 <a href="#"></a> &ndash; All Rights Reserved</p>
    <p class="socialIcons"> <a href="#" class="rss">RSS</a> <a href="#" class="facebook">Facebook</a> <a href="#" class="twitter">Twitter</a> </p>
  </div>
</footer>
</body>
</html>

