{% extends 'base.html' %}

{% block title %}
     <h3 class="title_list">Реєстрація волонтера</h3>
{% endblock %}

{% block content %}
    <!--
    <form class="zforma" method="POST" action="{% url 'create_volonter' %}">
        {% csrf_token %}
        <table class="abl">
    <tr class="abl">
        <td class="abl">FIO:</td>
        <td class="abl">ADDRESS: </td>
        <td class="abl">TELPHONE: </td>
        <td class="abl">BIRTHSDAY: </td>
        <td class="abl">GENDER(M or Ж): </td>
    </tr>
    <tr class="abl">
        <td class="abl"><input type="text" name="fio"></td>
        <td class="abl"><input type="text" name="address"></td>
        <td class="abl"><input type="text" name="telephone"></td>
        <td class="abl"><input type="date" name="birthday"></td>
        <td class="abl"><input type="text" name="gender"></td>
    </tr>
    <tr></tr>
        </table>


        <input type="submit" name="Save" value="Save">
    </form>-->
    <div class="create_table">

    <form class="zforma" method="POST" action="{% url 'create_volonter' %}">
        {% csrf_token %}
    <table>
    <tr>
        <td class="CreateVoll">ПІБ</td>
        <td class="CreateVolr"><input class="pole" type="text" name="fio"></td>
    </tr>
       <tr>
        <td class="CreateVoll">ОБЛАСТЬ</td>
        <td class="CreateVolr"><select size="1" class="pole_select" name="address">
            <option disabled>Выберите город</option>
            <option value="Винницкая область">Вінницька область</option>
            <option value="Волынская область">Волинська область</option>
            <option value="Дніпропетровська область">Дніпропетровська область</option>
            <option value="Донецька область">Донецька область</option>
            <option value="Закарпатська область">Закарпатська область</option>
            <option value="Запорізька область">Запорізька область</option>
            <option value="Івано-Франківська область">Івано-Франківська область</option>
            <option value="Київська область">Київська область</option>
            <option value="Кіровоградська область">Кіровоградська область</option>
            <option value="Луганська область">Луганська область</option>
            <option value="Львівська область">Львівська область</option>
            <option value="Миколаївська область">Миколаївська область</option>
            <option value="Одеська область">Одеська область</option>
            <option value="Полтавська область">Полтавська область</option>
            <option value="Рівненська область">Рівненська область</option>
            <option value="Сумська область">Сумська область</option>
            <option value="Тернопільська область">Тернопільська область</option>
            <option value="Харківська область">Харківська область</option>
            <option value="Херсонська область">Херсонська область</option>
            <option value="Хмельницька область">Хмельницька область</option>
            <option value="Черкаська область">Черкаська область</option>
            <option value="Чернігівська область">Чернігівська область</option>
            <option value="Чернівецька область">Чернівецька область</option>
            <option value="Автономна Республіка Крим">Автономна Республіка Крим</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="CreateVoll">ТЕЛЕФОН</td>
        <td class="CreateVolr"><input class="pole" type="text" name="telephone" placeholder="+380(***)(*******)"></td>
    </tr>
    <tr >
        <td class="CreateVoll">ДАТА НАРОДЖЕННЯ</td>
        <td class="CreateVolr"><input class="pole" type="date" name="birthday"></td>
     </tr>
     <tr >
        <td class="CreateVoll">СТАТЬ</td>
        <td class="CreateVolr"><input type="radio" value="М" name="gender"> Чоловік<br><input type="radio" value="Ж" name="gender"> Жінка</td>
    </tr>
    <tr>
        <td class="CreateVoll">ВИД ДОПОМОГИ</td>
        <td class="CreateVolr">
            {% for item in data %}
            <input type="checkbox" name="categories" value="{{ item.number }}">{{ item.name }}<br>
            {% endfor %}

    </tr>
    <tr class="CreateVoll">
        <td colspan="2"><input class="bt" type="submit" name="Save" value="Зареєструватися"></td>
    </tr>
    </table>

   </form>
    <br>
    <br>
    <br>
    <p>*при регестрации вы будете добавлены в список кандидатов в волонтёры. ваш запрос будет обработан в течении 2 дней.</p>
   </div>
{% endblock %}
