{% extends 'base.html' %}

{% block title %}
    <h3 class="title_list"><a href="{% url 'list_volonter' %}">Список волонтерів</a> / Графік волонтерів</h3>
{% endblock %}

{% block content %}




    <script type="text/javascript">

	$(function() {

        var data = [
            {% for vol in data %}

                ["<div id='verticalText'>{{ vol.name }} ( {{ vol.count }} ) </div>", {{ vol.count }} ],
            {% endfor %}
];
            $.plot("#placeholder", [data], {
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.8,
                        fill: true,
                        align: "left",

                        }
                },

                xaxis: {
                    mode: "categories",
                    color: 'black',
                    labelHeight: 150,
                    font: { size: 11,}, // null (derived from CSS in placeholder) or object like { size: 11, lineHeight: 13, style: "italic", weight: "bold", family: "sans-serif", variant: "small-caps" }
                    tickLength: 0
                }
            });


            // Show the initial default chart
            $("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
        });
    	</script>




	    <div id="grafik">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>


	</div>
{% endblock %}
{% block bottom %}
{% endblock %}
