{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <h3 class="title_list">Список волонтерів /<a href="{% url 'grafik_volonter' %}"> Графік волонтерів</a></h3>
{% endblock %}

{% block content %}
    <div id="list_table">
  <table border="1">
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>ADDRESS</td>
        <td>NUMBER</td>
    </tr>

    {% for volonters in Volonter %}
        <tr class="list_tr">
        <td>{{ volonters.id }}</td>
        <td> <a class="detail_list" href="{% url 'view_volonter' volonters.id %}">{{ volonters.fio }}</a></td>
        <td>{{ volonters.address }}</td>
        <td>{{ volonters.telephone }}</td>
    </tr>

    {% endfor %}
  </table>
    </div>
{% endblock %}
{% block bottom %}

{% endblock %}
