{% extends 'base.html' %}
{% block title %}
    <h3 class="title_list">Список ресурсів</h3>
{% endblock %}

{% block content %}
    <div id="list_table">
  <table border="0">
    <tr>
        <td class="top_left">НАЗВА</td>
        <td class="top_cen">TYPE</td>
        <td class="top_right">unit_of_mesure</td>
    </tr>

    {% for resource in Resource %}
        <tr class="list_tr">
        <td class="cell"><a class="detail_list" href="{% url 'grafik_resource' resource.id %}"> {{ resource.name }}</a> </td>
        <td class="cell_c">{{ resource.category_resource }}</td>
        <td class="cell">{{ resource.unit_of_mesure }}</td>
    </tr>

    {% endfor %}
  </table>
    </div>

{% endblock %}

{% block bottom %}

{% endblock %}
