{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <h3 class="title_list">Список волонтерів ( Таблиця /<a href="{% url 'grafik_volonter' %}"> Графік</a> )</h3>
{% endblock %}

{% block content %}
    <div id="list_table">
  <table border="0">
    <tr>
        <td class="top_left">ПІБ</td>
        <td class="top_cen" >ОБЛАСТЬ ПРОЖИВАННЯ</td>
        <td class="top_right" >КОНТАКТНИЙ ТЕЛЕФОН</td>
    </tr>

    {% for volonters in Volonter %}
        <tr class="list_tr">
        <td class="cell"> <a class="detail_list" href="{% url 'view_volonter' volonters.id %}">{{ volonters.fio }}</a></td>
        <td class="cell_c">{{ volonters.address }}</td>
        <td class="cell">{{ volonters.telephone }}</td>
    </tr>

    {% endfor %}
  </table>
    </div>
{% endblock %}
{% block bottom %}

{% endblock %}
