{% extends 'base.html' %}
{% block title %}
    <h3 class="title_list">Список ресурсів /<a href="{% url 'grafik_resource' %}"> Графік ресурсів</a></h3>
{% endblock %}

{% block content %}
    <div id="list_table">
  <table border="1">
    <tr>
        <td>ID</td>
        <td>НАЗВА</td>
        <td>НОУНАМЕ</td>
        <td>Кількість</td>
    </tr>

    {% for resource in Resource %}
        <tr class="list_tr">
        <td>{{ resource.id }}</td>
        <td> <a class="detail_list" href="{% url 'view_volonter' resource.id %}">{{ resource.name }}</a></td>
        <td>{{ resource.description }}</td>
        <td>////</td>
    </tr>

    {% endfor %}
  </table>
    </div>

{% endblock %}

{% block bottom %}

{% endblock %}
