{% extends 'base.html' %}
{% block title %}
     <h3 class="title_list">Спиок пореби</h3>
{% endblock %}
{% block content %}
 <div id="list_table">
  <table border="0">
    <tr>
        <td class="top_left">РЕСУРС</td>
        <td class="top_cen" >КІЛЬКІСТЬ</td>
        <td class="top_right" >ЗАКАЗ</td>
    </tr>

    {% for need in Needs %}
        <tr class="list_tr">
        <td class="cell"> {{ need.resource }}</td>
        <td class="cell_c">{{ need.amount }}</td>
        <td class="cell">{{ need.order }}</td>
    </tr>

    {% endfor %}
  </table>
    </div>


{% endblock %}