{% extends 'base.html' %}
{% load staticfiles %}
{% load l10n %}
{% block title %}
    <h3 class="title_list">{{ roat.storehouse }} - {{ roat.point_consuming.geography_point.address }} ( {{ roat.transport|default:"Маршрут не знайдено" }} )</h3>
{% endblock %}
{% block js  %}

    <script src="http://api-maps.yandex.ru/2.1/?lang=ru-RU" language="javascript" type="text/javascript"></script>

    <script type="application/javascript">
    {% localize off %}
        function init () {
            // Создаем карту с добавленными на нее кнопками.
            var myMap = new ymaps.Map('map', {
                center: [48.507927, 32.262311],
                zoom: 6
            }, {
                buttonMaxWidth: 300
            });

            {% for way in ways %}
                {% if way.yandex_or_byhand %}
                    var multiRoute_{{ way.pk }} = new ymaps.multiRouter.MultiRoute({
                        // Описание опорных точек мультимаршрута.
                        referencePoints: [
                            [{{ way.point_from.x }}, {{ way.point_from.y }}],
                            [{{ way.point_to.x }}, {{ way.point_to.y }}]
                        ],
                        // Параметры маршрутизации.
                        params: {
                            // Ограничение на максимальное количество маршрутов, возвращаемое маршрутизатором.
                            results: 1
                        }
                    }, {
                        // Автоматически устанавливать границы карты так, чтобы маршрут был виден целиком.
                        boundsAutoApply: true
                    });
                    // Добавляем мультимаршрут на карту.
                    myMap.geoObjects.add(multiRoute_{{ way.pk }});
                {% else %}
                    // Создаем ломаную с помощью вспомогательного класса Polyline.
                    var myPolyline{{ way.pk }} = new ymaps.Polyline([
                        // Указываем координаты вершин ломаной.
                        [{{ way.point_from.x }}, {{ way.point_from.y }}],
                        [{{ way.point_to.x }}, {{ way.point_to.y }}]
                    ], {
                        // Описываем свойства геообъекта.
                        // Содержимое балуна.
                        balloonContent: "Ломаная линия"
                    }, {
                        // Задаем опции геообъекта.
                        // Отключаем кнопку закрытия балуна.
                        balloonCloseButton: false,
                        // Цвет линии.
                        strokeColor: "#000000",
                        // Ширина линии.
                        strokeWidth: 4,
                        // Коэффициент прозрачности.
                        strokeOpacity: 0.5
                    });
                    // Добавляем линии на карту.
                    myMap.geoObjects.add(myPolyline{{ way.pk }});
                {% endif %}
            {% endfor %}
        }
        ymaps.ready(init);
    {% endlocalize %}
    </script>

{% endblock %}
{% block content %}

   <style>
        #map {
        display: block;
        width: 1000px;
        height: 600px;
        padding: 0;
        margin: 0;
    }
    </style>

    <div id="map"></div>

{% endblock %}