{% extends 'base.html' %}

{% block title %}
    <h3 class="title_list">Волонтёр: {{ Volonter.fio }} / <a href="{% url 'list_volonter' %}">Спиок волонтерів</a></h3>
{% endblock %}

{% block content %}

    <!--
<ul>
    <li>Id: {{ volonter.id }}
    <li>Name: {{ volonter.fio }}
    <li>День рождения:{{ volonter.birthday|date:"d.m.Y" }}
    <li>address: {{ volonter.address }}
    <li>gender: {{ volonter.gender }},
        {{ volonter.get_gender_display }}


</ul>-->
    <div id="view_tab">
    <table border="0">
    <tr>
        <td class="lef_start">ID</td>
        <td class="ri_start">{{Volonter.id}}</td>
    </tr>
    <tr>
        <td class="lef">ФИО</td>
        <td class="ri">{{ Volonter.fio }}</td>
    </tr>
    <tr>
        <td  class="lef">День рождения</td>
        <td class="ri">{{ Volonter.birthday|date:"d.m.Y" }}</td>
    </tr>
    <tr >
        <td  class="lef_v"  height="36px"><p class="trrt">Вид допомоги</p></td>
        <td  class="ri_v">
            {% for cat in Volonter.categories.all  %}
            <p class="kind_res">{{ cat }}</p>
            {% endfor %}</td>

    </tr>
    <tr>
        <td class="lef">ADDRESS</td>
        <td class="ri">{{Volonter.address }}</td>
    </tr>
     <tr>
        <td  class="lef_end">GENDER</td>
        <td class="ri_end">{{ Volonter.gender }},{{ Volonter.get_gender_display }}</td>
    </tr>

  </table>
    </div>
{% endblock %}
{% block bottom %}
{% endblock %}
