{% extends 'base.html' %}

{% block title %}
    Back to: <a href="{% url 'list_volonter' %}">list</a>
    <h3>Волонтёр: {{ Volonter.fio }}</h3>
{% endblock %}

{% block content %}
<ul>
    <li>Id: {{ Volonter.id }}
    <li>Name: {{ Volonter.fio }}
    <li>День рождения:{{ Volonter.birthday|date}}
    <li>address: {{ Volonter.address }}
    <li>gender: {{ Volonter.gender }},
        {{ Volonter.get_gender_display }}
</ul>
<a href="{% url 'update_volonter' Volonter.id %}">Изменить</a>
{% endblock %}
